<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MediaTek.Properties.Settings.mediatekConnectionString"
			 connectionString="server=localhost;user id=root;password=;database=MediaTek86;SslMode=REQUIRED"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>